<%#= javascript_include_tag  "multifile" %>
<div class="main_wrap">
  <div style="padding: 10px 0 0 50px;">
    <% form_tag users_path  do %>

      <table>
        <tr>
          <td> Login </td>
          <td> <%= text_field :user, :login %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Email' %></td>
          <td> <%= text_field :user, :email %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Password' %></td>
          <td> <%= password_field :user, :password %></td>
        </tr>

        <tr>
          <td>  Password <br/>Confirmation</td>
          <td> <%= password_field :user, :password_confirmation %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Firstname' %></td>
          <td> <%= text_field :store, :firstname %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Lastname' %></td>
          <td> <%= text_field :store, :lastname %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'OrganizationName' %></td>
          <td> <%= text_field :store, :organizationname %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Address1' %></td>
          <td> <%= text_field :store, :address1 %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Address2' %></td>
          <td> <%= text_field :store, :address2 %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'City' %></td>
          <td> <%= text_field :store, :city %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'State' %></td>
          <td> <%= text_field :store, :state %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Zip' %></td>
          <td> <%= text_field :store, :zip %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Phone' %></td>
          <td> <%= text_field :store, :phone %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Sport' %></td>
          <td> <%= text_field :store, :sport %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Established In' %></td>
          <td> <%= text_field :store, :established_in %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'GearDesignedBy' %></td>
          <td> <%= text_field :store, :geardesignedby %></td>
        </tr>
        <tr>
          <td> <%= label_tag 'Cause' %></td>
          <td> <%= text_field :store, :cause %><%= hidden_field :user, :user_type , :value => "STORE" %></td>

        </tr>
        <tr>
          <td> <%= label_tag 'Charity Or Club' %></td>
          <td> <select name="store[store_type]">
              <option value="club" selected="selected">CLUB</option>
              <option value="charity" >CHARITY</option>
            </select></td>

        </tr>
    
      </table>
      <div>
        <%= submit_tag 'create' %>
      </div><br/>

    <% end %>
  </div>
</div>