<% if !attachment.id.nil? %><li id='attachment_<%=attachment.id %>'> <%= image_tag (attachment.url,:size => "50x25")  %><a href='<%=attachment.url %>'><%=attachment.name %></a> (<%=attachment.file_size/1.kilobyte %>KB)
<%= link_to "Remove", asset_path(:id => attachment), :method => :delete, :confirm=>"Are You Sure" , :html => { :title  => "Remove this attachment", :id => "remove" } %></li>
<% end %>
