<h1>Listing Items</h1>
<div style="padding-left: 50px;">
  <table border ="1" >
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th colspan="3" align="center">Actions</th>
    </tr>

    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.price %></td>
        <td><%= link_to "show" , item  %></td>
        <td><%= link_to "update" , edit_item_path(item)  %></td>
        <td><%= link_to "Destroy", item, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
<br />


